.home {
  height: 100%;
  overflow-x: auto;
  padding: 32px 200px;
}

.home-section-body {
  display: flex;
  flex-wrap: wrap;
  max-height: 210px;
  overflow-x: auto;
}

.thumbnail-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #172b4d;
  background-color: rgba(9, 30, 66, 0.04);
  border-radius: 3px;
  width: 165px;
  height: 95px;
  margin: 4px 4px 4px 0px;
  cursor: pointer;
}
.thumbnail-creator:hover {
  background-color: rgba(9, 30, 66, 0.08);
}

@media (max-width: 768px) {
  .home {
    padding: 32px 24px;
  }
}

@media (max-width: 425px) {
  .home {
    padding: 32px 10px;
  }
}
